# your domain, e.g https://example.com
APP_URL=http://localhost:3000
PORT=3000

# make sure to replace this.
APP_SECRET=

JWT_TOKEN_EXPIRES_IN=30d

DATABASE_URL=postgresql://docmost:Passw0rd@db:5432/docmost?schema=public
REDIS_URL=redis://redis:6379

# options: local | s3
STORAGE_DRIVER=local

# S3 driver config
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=

# default: 50mb
FILE_UPLOAD_SIZE_LIMIT=

# options: smtp | postmark
MAIL_DRIVER=smtp
MAIL_FROM_ADDRESS=hello@demomailtrap.com
MAIL_FROM_NAME=Docmost

# SMTP driver config
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=false
SMTP_IGNORETLS=false

# Postmark driver config
POSTMARK_TOKEN=

# for custom drawio server
DRAWIO_URL=

# Docmost
DOCMOST_TAG=0.6.2

# PostgreSQL
POSTGRES_TAG=16-alpine
POSTGRES_DB=docmost
POSTGRES_USER=docmost
POSTGRES_PASSWORD=Passw0rd

# Redis
REDIS_TAG=7.2-alpine

# AWS ECR
ACCOUNT_ID=
REGION=ap-northeast-1
ECR_REPOSITORY_NAME=docmost
AWS_PROFILE=
